@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/defaults';
@import './others/scrollbar';

// Import component stylings
@import './components/others';
@import './components/form';

* {
  padding: 0;
  margin: 0;
  font-family: $Poppins;
}

body,
#root {
  background-color: $background;
  min-height: 100vh;
}

#root {
  @include flexSpace(column);
  align-items: center;
  gap: $gap-m;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  min-height: 80vh;
  @include flex;
  justify-content: center;
}
