.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header and Footer */
header,
footer {
  text-align: center;
  color: var(--secondary);
  background-color: var(--dark-grey);
}

header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  padding: 0.5em 0;
}

footer {
  padding: 0.5em 0;
  color: white;
}

/*  */
main {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 2em;
  display: flex;
  gap: 2em;
}

/* Form and Display */
.Resume,
#cv-builder {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  min-height: 100vh;
  padding: 1em;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
}

textarea,
input {
  padding: 0.35em;
}

textarea {
  height: 4em;
  resize: none;
}

label {
  font-size: smaller;
}

@media only screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }
}
