form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

fieldset {
  width: 100%;
  border: 0;
  display: flex;
  flex-direction: column;
}

select,
textarea,
input {
  padding: 0.35em;
}

textarea {
  height: 4em;
  resize: none;
}

label {
  font-size: smaller;
}

button {
  border: 0;
  background-color: var(--primary);
  color: white;
  transition: all 100ms;
}

button:hover {
  background-color: rgb(0, 0, 0);
}

form section {
  background-color: white;
  padding: 1em;
  border-radius: 10px;
}

/* Education section */
section.education,
section.work-experience {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.education-field,
.work-field {
  position: relative;
  border: 1px solid black;
  padding: 0.5em;
  padding-top: 1em;
  border-radius: 5px;
}

.btn-add {
  padding: 0.5em 3em;
  margin: 0 auto;
  border-radius: 15px;
}

.btn-remove {
  padding: 0.5em 1em;
  position: absolute;
  top: 0em;
  right: 0em;
}

.btn-remove:hover {
  background-color: #cc0101;
}

.btn-clear {
  position: absolute;
  top: 1em;
  right: 1em;
  min-width: 2em;
  height: 2em;
  padding: 0.25em 0.5em;
  border-radius: 5px;
}
