fieldset {
  width: 100%;
  border: 0;
  display: flex;
  flex-direction: column;
}

select,
textarea,
input {
  padding: 0.35em;
}

textarea {
  height: 4em;
  resize: none;
}

label {
  font-size: smaller;
}

button {
  padding: 0.5em 3em;
  width: fit-content;
  border-radius: 15px;
  border: 0;
  background-color: var(--primary);
  color: white;
  transition: all 100ms;
}

button:hover {
  background-color: var(--dark-grey);
}

/* Education section */
section.education {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.education-field {
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 5px;
}

.btn-addEducation {
  margin: 0 auto;
}
