ul {
  list-style-type: none;
}

ul.personal-info {
  display: flex;
  gap: 0.25em;
}

ul.personal-info > li {
  font-size: 10px;
}

.separator {
  margin-bottom: 0.1em;
}

.name {
  font-size: 1.5em;
  height: 1.5em;
}

.description {
  font-size: 11px;
}
