:root {
  --title-size: 18px;
  --font-size: 11px;
}

.Resume {
  font-family: Roboto, 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

ul {
  list-style-type: none;
}

ul.personal-info {
  display: flex;
  gap: 0.25em;
  margin-bottom: 0.5em;
}

ul.personal-info > li {
  font-size: var(--font-size);
  height: var(--font-size);
}

.name {
  font-size: 25px;
  height: 1.05em;
}

.title {
  font-size: var(--title-size);
}

.description {
  font-size: var(--font-size);
}

hr {
  border-top: 1px solid black;
}

.separator {
  border-left: 0px;
  border-right: 1px solid black;
}
