:root {
  --title-size: 18px;
  --font-size: 11px;
  --left-indentation: 2em;
}

.Resume {
  font-family: Roboto, 'Open Sans', sans-serif;
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1em;
  box-sizing: border-box;
}

p {
  font-size: var(--font-size);
}

ul {
  list-style-type: none;
}

/* Separator Stylings  */
hr {
  border-top: 2px solid black;
}

.separator {
  border-left: 0px;
  border-right: 1px solid black;
  height: 100%;
}

/* Info list */
ul.personal-info {
  display: flex;
  align-items: center;
  gap: 0.25em;
  margin-bottom: 0.2em;
}

ul.personal-info > li {
  font-size: var(--font-size);
  height: var(--font-size);
  display: flex;
  align-items: center;
}

.name {
  font-size: 25px;
  height: 0.9em;
}

.title {
  font-size: var(--title-size);
}

.description {
  font-size: var(--font-size);
}

.education-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.resume-personalInfo {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.resume-education p {
  justify-content: space-between;
}

.location {
  color: grey;
  font-style: italic;
}
