@import '../abstracts/variables';
@import '../abstracts/mixins';

header,
footer {
  background-color: $darker-bg;
  text-align: center;
  width: 100%;
  color: white;
  box-sizing: border-box;
}

header {
  height: 60px;
  color: $primary;
  @include flex;
  justify-content: center;

  div {
    width: $container-size;
    @include flexSpace;
    align-items: center;

    .page-title {
      font-size: 2em;
      font-weight: bold;
    }
  }

  .btn-preview {
    border-radius: $round-corners;
    font-weight: bold;
    border: 0;
    padding: 0.25em 1em;
    width: 100px;
    height: 2em;
  }
}

footer {
  padding: $gap-m;
  margin-top: $gap-m;
}

@media only screen and (max-width: 500px) {
  .page-title {
    font-size: 1.5em !important;
  }
}
